*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------ULTILITIES----------------------------------------------*/

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secNavStyle{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.secNavStyle p{
    padding-left: 4.8px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.bigLeft{
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    color: #1C1C28;
    font-weight: 600;
}
.smallRight{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #00b5b7;
    font-weight: 600;
}
.saleContainerHeader{
    height: 12%;
    width: 84%;
    justify-content: space-between;
}
.partition{
    margin-top: 20px;
    width: 100%;
    height: 8px;
    background-color: #f4f4f4;
}

/*----------------------------------------NAV BAR-------------------------------------------------*/

.header{
    height: 13.9vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    border-bottom: 2px solid #dbdee9;
}
.webIcon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 23%;
    height: 100%;
    /* background-color: yellow; */
}
.headerIcon{
    /* float: right; */
    width: 60%;
    max-width: 100%;
}
/*------------------SEARCHBOX------------------*/
.searchBox{
    width: 59%;
    height: 100%;
}
.searchBox:hover .fa-search{
    background-color: #ededed;
}
.searchBox:hover .textEntry{
    background-color: #ededed;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
}
input[type=text]{
    height: 55%;
    width: 72%;
    border: none;
    background-color: #f7f7f7;
    border-radius: 0 8px 8px 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #77777e;
}
input[type=text]:focus{
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding-left: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #77777e;
    /* background-color: red; */
}
.fa-search{
    color: #a4a4a9;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 15.5px;
    width: 5%;
    height: 55%;
    margin-left: 5.6vw;
    background-color: #f7f7f7;
    border-radius: 8px 0 0 8px;
}
input[type=text]::placeholder{
    font-size: 13px;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    letter-spacing: 0.4px;
    padding-left: 5px;
}

/*--------------LOGIN AND CART---------------*/

.loginAndCart{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    height: 100%;
    width: 21.8%;
    /* background-color: blue; */
}
.loginButton{
    width: 36.1%;
    height: 48%;
    border-radius: 3px;
    background-color: #00b5b7;
    border: none;
    color: white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin-right: 14.6%;

}
.cart{
    padding-top: 8.5px;
}
.cart img{
    width: 5vh;
    height: 5vh;
}

/*-----------------------------------SECONDARY NAV BAR-------------------------------------------*/

#secNavBar{
    overflow: hidden;
    height: 10.7vh;
    width: 100%;
    background-color: white;
}
.childSecNav{
    width: 84%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shopByCat{
    height: 57%;
    width: 17.1%;
    border: 1px solid #dbdee9;
    border-radius: 3.5px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #77777e;
    font-weight: 600;
}
.shopByCat p{
    padding-left: 4px;
}
.link:hover{
    color: #00b5b7;
    cursor: pointer;
}
.link7{
    justify-content: flex-start;
    width: 13%;
}

/*----------------------------------------SALE------------------------------------------------*/

.sale{
    height: 7.49vh;
    width: 100%;
    background-color: #effbfc;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/*----------------------------------------SLIDER------------------------------------------------*/

.slider{
    height: 55.25vh;
    width: 100%;
    background-color: #f4f4f4;
}
.slider img{
    height: 95.7%;
    width: 100%;
}

/*--------------------------------------SALE CONTAINER 1------------------------------------*/

.saleContainer1{
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: teal; */
}
.cardStack{
    height: 85%;
    width: 84%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.card{
    height: 100%;
    width: 24.4%;
    /* border: 1px solid #dbdee9; */
    border-radius: 15px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition-duration: 0.3s;
}

.fotu{
    width: 100%;
    height: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-color: #f7f7f7;
}
.fotu img{
    height: 72%;
    width: 57%;
}
.cardContent{
    height: 56%;
    width: 100%;
    /* background-color: green; */
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dbdee9;
}

/*------------------------REVIEW SECTION-----------------------*/

.review{
    width: 89%;
    height: 18.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: yellow; */
}
.stars{
    height: 60%;
    width: 58%;
    justify-content: space-between;
    /* background-color: red; */
}
.starDiv{
    background-color: #00b5b7;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 11px;
    border-radius: 3px;
}
.starDiv i{
    padding-left: 5px;
}
.starReview{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #494952;
    font-weight: 500;    
}
.vegNonVeg{
    height: 48%;
    width: 10%;
    /* background-color: yellow; */
}
.vegNonVeg img{
    width: 100%;
    height: 100%;
}

/*----------------------------PRODUCT NAME--------------------------*/

.proName{
    width: 92%;
    height: 22.5%;
    line-height: 29px;
    font-size: 13.5px;
    letter-spacing: 0.3px;
    /* background-color: thistle; */
}

/*---------------------------PRICE SECTION------------------------*/

.price{
    width: 89%;
    height: 18%;
    justify-content: flex-start;
    /* background-color: teal; */
}
.paisa1{
    font-family: Montserrat, sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    margin-right: 11px;
}
.paisa2{
    font-family: Montserrat, sans-serif;
    color: #aeb1bd;
    font-size: 14px;
    font-weight: 600;
    margin-right: 11px;
}
.paisa3{
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 550;
    color: #00a856;
}

/*-----------------------PREMIUM MEMBER SECTION--------------------*/

.memberPrice{
    width: 89%;
    height: 11%;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-size: 12.5px;
}

/*---------------------ADD TO CART-----------------------*/

.cartButton{
    height: 29%;
    width: 100%;
    /* background-color: orange; */
}
.actualButton{
    height: 56%;
    width: 89%;
    border-radius: 8px;
    border: 1px solid #ff8914;
    background-color: #fff9f4;
    font-weight: 600;
    color: #ff8914;
    font-size: 15px;
}
.actualButton:hover{
    background-color: #ff8914;
    color: white;
    transition-duration: 0.3s;
}

/*-----------------------------------4 PHOTO SECTION-----------------------------------------*/

.FourPhotoContainer{
    height: 73vh;
    width: 100%;
}
.sub4Container{
    height: 100%;
    width: 84%;
    /* background-color: red; */
    justify-content: space-between;
}
.offerPhoto{
    height: 85%;
    width: 24.4%;
}
.offerPhoto img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/*-----------------------------------------FOOTER------------------------------------------------*/

.footer{
    width: 100%;
    height: 99.2vh;
    background-color: #0d2122;
}
.fooContainer{
    width: 84%;
    height: 100%;
    /* background-color: yellow; */
}
.footerLogo{
    width: 100%;
    height: 20%;
    justify-content: flex-start;
    /* background-color: green; */
}
.foosubContainer{
    width: 100%;
    height: 66.5%;
    /* background-color: red; */
}
.fooContent{
    height: 100%;
    width: 74.8%;
    /* background-color: yellow; */
}
.upperContent{
    width: 100%;
    height: 83%;
    display: flex;
    /* background-color: teal; */
}
.content{
    height: 100%;
    width: 20%;
    /* background-color: white; */
    /* border: 1px solid black; */
}
.cnt1{
    width: 22%;
}
.cnt2{
    width: 13.9%;
}
.cnt3{
    width: 23%;
}
.cnt4{
    width: 17.2%;
}
.cnt5{
    width:23.7% ;
}
.fooHead{
    color: white;
    font-weight: 600;
    padding-bottom: 21px;
}
ul{
    list-style-type: none;
    color: #b7bdbd;
    font-family: Montserrat, sans-serif;
    font-size: 12.8px;
    font-weight: 500;
}
li{
    padding-bottom: 11.5px;
}
li:hover{
    color: #047171;
    cursor: pointer;
}
.fooCard{
    height: 100%;
    width: 25.2%;
    /* background-color: red; */
}
.fooCard img{
    height: 91.5%;
    width: 100%;
    border-radius: 8px;
}

.lowerContent{
    width: 55.1%;
    height: 16.5%;
    /* background-color: teal; */
    justify-content: space-between;
}

.copyrightEtc{
    width: 100%;
    height: 8%;
    font-size: 12px;
    color: #b7bdbd;
    /* letter-spacing: 0.5; */
    justify-content: space-between;
    /* background-color: red; */
}

.copyRight:hover{
    cursor: pointer;
}

.last{
    justify-content: flex-start;
}
ul svg{
    padding-right: 10px;
}



